nav a {
    padding:  10px;
    font-size: 10px;

}
body{
    text-align: center;
    margin: 0;
}
nav ul :hover{
    background-color: hwb(34 55% 1%);
    border-radius: 5px;
}
h2{
    margin-bottom: 30px;
}
hr{
    margin: 0;
}
ul {
list-style-type: none;
display:flex;

}
a{
    text-decoration: none;
    color: black;
}
nav{
    background-color: antiquewhite;
    align-content: center;
    padding: 0;
}

.featured_photo img{
    width: 120px;
    height: 120px;
    padding: 5px;
    border-radius: 10px;
}

#banner{
    width: 100%;
}
.special {
    background-color: rgb(250, 244, 237);
    padding: 15px 10px;
    text-decoration: none;
    margin: 10px;
    max-width: 150px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.special img {
    width: 30px;
}
.special p{
    font-size: 10px;
}
.special a{
    color: rgb(0, 0, 0);
}
.recipe > img{
    max-width: 150px;
    max-height: 150px;
   
}
.recipe{
    margin:   0px 10px ;
    padding: 20px;
    background-color: rgb(250, 244, 237);
    justify-content: center;
}
.recepies{
    display: flex;
    gap: 10px;
    margin: 0px auto 40px;
    justify-content: center;
}
.primary_button{
    padding: 10px 10px;
    background-color: rgb(255, 166, 0);
    border: 2px SOLID  rgb(255, 166, 0);
    border-radius: 5px;
}
.primary_button:hover{
    background-color:  rgba(255, 166, 0, 0);
    border: 2px solid  rgb(255, 166, 0);
    color: rgb(255, 166, 0)
}
.section{
    margin: 50px auto 0px ;
}
footer{
    background-color: rgb(250, 244, 237) ;
    padding: 200px;
    margin: 0px;
}