nav a {
    padding:  10px;
    font-size: 10px;

}

nav ul :hover{
    background-color: hwb(34 55% 1%);
    border-radius: 5px;
    

}
hr{
    margin: 0;
}
ul {
list-style-type: none;
display:flex;

}
a{
    text-decoration: none;
    color: black;
}
nav{
    background-color: antiquewhite;
    align-content: center;
    padding: 0;
 }
.center h2{
    text-align: center;
}
.featured_photo img{
    width: 120px;
    height: 120px;
    padding: 5px;
    border-radius: 10px;
}

#banner{
    width: 100%;
}
.special {
    background-color: rgb(75, 156, 231);
    padding: 15px 10px;
    text-decoration: none;
    margin: 10px;
    max-width: 150px;
    color: white;
    text-align: center;
}
.special img {
    width: 30px;
}
.special p{
    font-size: 10px;
}
.special a{
    color: white;
}